<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ads</title>
<style type="text/css">
<!--
@import url("/css/style.css");
-->
</style>
</head>
<body>

<h1>List of Ads <% if @tag %> filed under <%= @tag %> <% end %></h1>
<% if session["username"] %><em>Logged in as: <%= session["username"] %> </em> <% end %>
<hr/>

<table class="striped_table" summary="List of Ads">
    <thead>
    	<tr>
        	<th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Posted by</th>
        </tr>
    </thead>
    <tbody>
        <% i = 0 %>
		  <% @ads.each do |row| %>
		  		<% if i % 2 == 1 %>
        			<tr>
        		<% else %>
        			<tr class="odd">
        		<% end %>
        				<td><%= row[:id] %></td>
        				<td><%= row[:title] %></td>
            		<td><%= row[:description][0..15] + "..." %></td>
            		<td><%= row[:category] %></td>
            		<td><%= row[:creation_date] %></td>
            		<td><%= row[:fk_username] %></td>
        		</tr>
        	<% i += 1 %>
        	<% end %>
    </tbody>
</table>

</body>
</html>