<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[ADSPACE]</title>
<style type="text/css">
<!--
@import url("/css/style.css");
-->
</style>
</head>
<body>
<div id="wrapper">
<div id="header"><h1><center>[ADSPACE]</center></h1>
<% if session["username"] %><div class="logout"><a href="/logout">Logout</a> </div><% end %>
</div>
<div id="container">
<div id="left">
<%= erb :_left_navbar %>
</div>
<div id="center">
<h2><%= erb :_loggedin %></h2>
<%= erb :_flash %>
<!-- Puts out time since user created and nr of ads the user posted -->
<%= erb(:_user_info, :layout => false, :locals => {:alive => alive, :nr_ads => nr_ads}) %>
</div>
<div id="right">
<ul id="nav">
<!-- Ruby code that automatically generates all the categories 
in the database -->
	<%= erb(:_category_list, :layout => false, :locals => {:categories => categories,:value => 1}) %>	
</ul></div>
<div class="clearer"> </div>
</div>
<div id="footer"><p>© ADSPACE 2010</p></div>

</div>
</body>
</html>
